.footer {
  position: relative;
  padding: 64px;
  background: hsl(0deg, 0%, 5%);
  color: white;
  text-align: center;
}
a.footerLink{
  color:white;
}
@media screen and (max-width: 430px){
  .footer{
    display: none;
  }
}